<div class="main-content">
  <div class="page-title">
    <h3>Danh sách điểm danh</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-left">
        <li class="breadcrumb-item">
          <a [routerLink]="['/main/diemdanh/index']">Quản lý </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Dánh sách điểm danh
        </li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header bg-white">
        <u style="color: #0dcaf0; cursor: pointer" class="font-italic">
          Bảng danh sách điểm danh</u
        >
      </div>
      <a class="pt-3 pb-1 col-3" routerLink="/main/diemdanh/create">
        <button type="button" class="btn btn-success">
          <i class="mr-2 fas fa-plus"></i>Thêm phiếu điểm danh
        </button>
      </a>
      <div class="navbar bg-white">
        <div class="form-group pull-left page-size form-inline">
          <select
            id="ddlPageSize"
            class="form-control control-color"
            ng-model="pageSize"
            [(ngModel)]="itemOnPage"
          >
            <option value="5">5</option>

            <option value="10">10</option>

            <option value="25">25</option>

            <option value="50">50</option>
          </select>
        </div>
        <form class="d-flex">
          <select
            class="form-control control-color"
            name="typeDate"
            style="margin-right: 12px"
            [(ngModel)]="typeDate"
          >
            <option value="date">Theo ngày</option>

            <option value="month">Theo tháng</option>

            <option value="year">Theo năm</option>
          </select>

          <container-element [ngSwitch]="typeDate">
            <div *ngSwitchCase="['date']">
              <input
                [(ngModel)]="date"
                type="date"
                class="form-control"
                name="date"
                id=""
              />
            </div>
            <div *ngSwitchCase="['month']">
              <input
                [(ngModel)]="date"
                type="month"
                class="form-control"
                name="date"
                id=""
              />
            </div>
            <div *ngSwitchCase="['year']">
              <input
                [(ngModel)]="date"
                name="date"
                style="width: 100px"
                placeholder="Nhập số năm cần tìm..."
                class="form-control"
                type="number"
                min="1900"
                max="2099"
                step="1"
                (change)="listenOnChangeYear()"
              />
            </div>
          </container-element>
          <input
            class="form-control"
            type="search"
            placeholder="Nhập tên lớp học..."
            name="Search"
            aria-label="Search"
            [(ngModel)]="searchKey"
            style="margin-left: 12px"
          />

          <button
            class="btn btn-outline-success ml-2"
            type="submit"
            (click)="handleSearch()"
          >
            Search
          </button>
        </form>
      </div>
      <div class="pt-0 card-body">
        <table class="table table-bordered" id="table1">
          <thead>
            <tr>
              <th>STT</th>
              <th>Lớp học</th>
              <th>Thời gian</th>
              <th>Sĩ số</th>

              <th width="20%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of collection
                  | paginate: { itemsPerPage: itemOnPage, currentPage: p }
              "
            >
              <td>{{ item.index }}</td>
              <td>{{ renderTenLopHoc(item.idLopHoc) }}</td>
              <td>{{ item.date | date: "dd-MM-yyyy" }}</td>
              <td>{{ item.diHoc }} / {{ item.siSo }}</td>

              <td class="d-flex">
                <a
                  [routerLink]="[
                    '/main/diemdanh/chitiet/' +
                      encodedString(item.idLopHoc, item.date)
                  ]"
                  class="btn btn-info mr-2"
                >
                  <div data-toggle="modal" data-target="#exampleModal">
                    Chi tiết
                  </div>
                </a>
                <button
                  data-toggle="modal"
                  [routerLink]="[
                    '/main/diemdanh/update/' +
                      encodedString(item.idLopHoc, item.date)
                  ]"
                  class="btn btn-primary mr-2"
                >
                  Sửa
                </button>
                <button
                  data-toggle="modal"
                  (click)="onDelete(item)"
                  data-target="#delete-modal"
                  class="btn btn-danger"
                >
                  Xóa
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
        <div
          *ngIf="collection.length < 1"
          class="alert alert-danger"
          role="alert"
        >
          Không tìm thấy bản ghi phù hợp!
        </div>
        <div class="paginate">
          <pagination-controls
            class="pull-right"
            (pageChange)="p = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </section>
</div>
<div
  class="modal fade"
  id="delete-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  #modal
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Bạn có chắc chắn muốn xóa?
        </h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Sau khi xóa bạn không thể khôi phục lại.</div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary btn-cancel-logout"
          type="button"
          data-dismiss="modal"
        >
          Đóng
        </button>
        <button class="btn btn-danger" (click)="handleDelete()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
