<div>
  <div class="main-content container-fluid">
    <div class="page-title">
      <h3>Chi tiết phiếu điểm danh</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-left">
          <li class="breadcrumb-item">
            <a routerLink="/main/diemdanh/index">Điểm danh</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Danh sách điểm danh lớp: {{ tenlop }} / {{ decodedString[1] }}
          </li>
        </ol>
      </nav>
    </div>
    <section class="section">
      <div class="card">
        <div class="">
          <div class="card-body">
            <div class="mt-3">
              <table class="table table-bordered" id="table1">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th>Tên học sinh</th>
                    <th>Ngày sinh</th>
                    <th>Đi học</th>
                    <th>Ăn trưa</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of diemdanhList">
                    <td>{{ i.index }}</td>
                    <td>{{ i.tenHocsinh }}</td>
                    <td>{{ i.ngaysinh | date: "dd-MM-yyyy" }}</td>
                    <td>
                      <input
                        type="checkbox"
                        [checked]="i.diHoc === true"
                        class="form-control"
                        style="width: 24px"
                        disabled
                      />
                    </td>
                    <td>
                      <input
                        class="form-control"
                        style="width: 24px"
                        type="checkbox"
                        disabled
                        [checked]="i.anTrua === true"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
