<section class="section">
  <div class="card">

    <section class="panel panel-default">
      <div style="text-align: center; padding: 20px 0" class="panel-heading">
        <h3 class="panel-title mg-auto font-italic"><u>Nhập thông tin</u></h3>
      </div>
      <div class="panel-body">
        <form id="form-1" class="form pb-4">
          <div class="form-group">
            <label for="hoTen" class="col-sm-3 control-label">Tên Giáo Viên:</label>
            <div class="col-sm-9">
              <input type="text" id="hoTen" name="hoTen" class="form-control" [value]="giaovien.hoTen" placeholder="Nhập tên...">
              <label class="text-danger form-message ml-2 mt-2"></label>
            </div>
          </div>
          <div class="form-group">
            <label for="gioiTinh" class="col-sm-3 control-label">Giới tính:</label>
            <div class="col-sm-3">
              <select id="gioiTinh" name="gioiTinh" class="form-control">
                <option value="Nam" [selected]="giaovien.gioiTinh == 'Nam'">
                  Nam
                </option>
                <option value="Nữ" [selected]="giaovien.gioiTinh == 'Nữ'">
                  Nữ
                </option>
                <option value="other" [selected]="giaovien.gioiTinh == 'other'">
                  Khác
                </option>
              </select>

              <label class="text-danger form-message ml-2 mt-2"></label>
            </div>
          </div>



          <div class="form-group">
            <label for="SoDienThoai" class="col-sm-3 control-label">Số điện thoại:</label>
            <div class="col-sm-9">
              <input type="text" id="SoDienThoai" name="SoDienThoai" class="form-control" [value]="giaovien.soDienThoai" placeholder="Nhập tên...">
              <label class="text-danger form-message ml-2 mt-2"></label>
            </div>
          </div>
          <div class="form-group">
            <label for="diaChi" class="col-sm-3 control-label">Địa chỉ:</label>
            <div class="col-sm-9">
              <input type="text" id="diaChi" name="diaChi" class="form-control" [value]="giaovien.diaChi" placeholder="Nhập tên...">
              <label class="text-danger form-message ml-2 mt-2"></label>
            </div>
          </div>

          <div class="form-group">
            <label for="tech" class="col-sm-3 control-label">Lớp Học:</label>
            <div class="col-sm-3">
              <select id="select_cat" name="id_LopHoc" class="form-control">
                <option value="0">Chọn lớp học</option>
                <option
                  *ngFor="let i of lops"
                  [value]="i.id_LopHoc"
                  [selected]="giaovien.id_LopHoc == i.id_LopHoc"
                >
                  {{ i.tenLop }}
                </option>
              </select>

              <label class="text-danger form-message ml-2 mt-2"></label>
            </div>
          </div>
          <hr>
          <button (click)="backPage()" type="button" class="btn btn-danger mx-3 ">Thoát</button>
          <button class="btn btn-info ">
            Lưu thông tin
          </button>


        </form>

      </div>
    </section>

  </div>
</section>

