<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
</div>
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Số lượng lớp học
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ soluonglophoc }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Số lượng giáo viên
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ soluonggiaovien }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Số lượng học sinh
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                  {{ soluonghocsinh }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Tổng tiền đã thu
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ tongtiendathu | number }}đ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Tổng tiền đã chi
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ tongtiendachi | number }}đ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div
      class="card shadow mb-4"
      style="height: 500px; padding: 28px 24px 0 48px"
    >
      <!-- Card Header - Dropdown -->
      <h5>Biều đồ thống kê chi tiêu năm: {{ currentYear }}</h5>
      <div class="card" style="width: 800px; height: 420px">
        <p-chart type="line" [data]="basicData"></p-chart>
      </div>
    </div>
  </div>
</div>
