<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Thống kê</h1>
</div>
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Số lượng lớp học
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ soluonglophoc }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Số lượng giáo viên
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ soluonggiaovien }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
              Số lượng học sinh
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                  {{ soluonghocsinh }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Tổng tiền đã thu
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ tongtiendathu | number }}đ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Tổng tiền đã chi
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ tongtiendachi | number }}đ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-6">
    <div class="card py-4">
      <div class="navbar bg-white">
        <h5>Tìm kiếm học sinh chưa đóng tiền</h5>
        <form class="d-flex ml-1">
          <select
            class="form-control control-color"
            name="lophoc"
            style="margin-right: 12px"
            [(ngModel)]="lophoc"
          >
            <option value="">Chọn lớp</option>
            <option *ngFor="let i of lophocs" [value]="i.id_LopHoc">
              {{ i.tenLop }}
            </option>
          </select>

          <input
            class="form-control"
            type="month"
            placeholder="Nhập tên lớp học..."
            name="Search"
            aria-label="Search"
            style="margin: 0 12px"
            [ngModel]="date | date: 'yyyy-MM'"
            [(ngModel)]="date"
          />
          <select
            class="form-control control-color"
            name="khoanthu"
            style="margin-right: 12px"
            [(ngModel)]="khoanthu"
          >
            <option value="">Chọn khoản thu</option>
            <option *ngFor="let i of khoanthus" [value]="i.id_KhoanThu">
              {{ i.tenKhoanThu }}
            </option>
          </select>

          <button
            class="btn btn-outline-success ml-2"
            style="min-width: 100px"
            type="button"
            (click)="handleSearch()"
          >
            Tìm kiếm
          </button>
        </form>
      </div>
      <div class="pt-0 card-body">
        <table class="table table-bordered" id="table1">
          <thead>
            <tr>
              <th>Tên Học Sinh</th>
              <th>Tên Lớp</th>
              <th>Ngày Sinh</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of hocsinhList
                  | paginate: { itemsPerPage: itemOnPage, currentPage: p }
              "
            >
              <td>{{ item.hoTen }}</td>
              <td>{{ item.lophoc }}</td>
              <td>{{ item.namSinh | date: "dd-MM-yyyy" }}</td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
        <div
          *ngIf="hocsinhList.length < 1"
          class="alert alert-danger"
          role="alert"
        >
          Không có học sinh nào!
        </div>
        <div class="paginate">
          <pagination-controls
            class="pull-right"
            (pageChange)="p = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Line Chart -->
  <div class="col-xl-6 col-lg-7">
    <div
      class="card shadow mb-4"
      style="height: 500px; padding: 28px 24px 0 18px"
    >
      <!-- Card Header - Dropdown -->
      <h5>Biều đồ thống kê chi tiêu năm: {{ currentYear }}</h5>
      <div class="card" style="width: 580px; height: 420px">
        <p-chart type="line" [data]="basicData"></p-chart>
      </div>
    </div>
  </div>
</div>
